{% extends "bootstrap.twig" %}

{% block konten %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM INPUT KATEGORI</title>
</head>
<body>
<h1 class="text-center">HALAMAN INPUT KATEGORI</h1>
<div class="container col-md-6 mt-5 bg-dark rounded">
    <form action="proses-kategori.php" method="post" class="row g-3">
        <div class="mb-3">            
            <label class="text-warning" for="">KATEGORI</label>
            <input type="text" name="nama_kategori" class="form-control sm">
        </div>
        <button type="submit" class="btn btn-primary mb-2 mt-2 col-md-3 ">TAMBAH</button>
    </form>
</div>
</body>
</html>

{% endblock %}