{% extends "bootstrap.twig" %}

{% block konten %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      <!-- Bootstrap CSS -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600;1,800&family=Sriracha&display=swap');

        * {
            font-family: 'Poppins', sans-serif;
            font-family: 'Sriracha', cursive;  
        }
    </style>
  <title>LOGIN</title>
</head>
<body class="bg-dark">
<div class="container">
  <img style="width:300px; height:80px; margin-top:50px; margin-left:400px;" src="asset/img/logo.png">
  <div class="row d-flex justify-content-center">
  <form action="login.php" method="POST" class="col-4 bg-light rounded m-5 p-5">
    <h1 class="d-flex justify-content-center">LOGIN</h1>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">USERNAME</label>
      <input type="name" name="username" id="form2Example1" class="form-control"/>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">PASSWORD</label>
      <input type="password" name="password" id="form2Example2" class="form-control" />
    </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="submit" name="submit" class="btn btn-primary btn-block mb-4 ">Sign in</button>
    </div>
  </form>
  </div>
</div>
</body>
</html>
{% endblock %}