{% extends "bootstrap.twig" %}

{% block konten %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HALAMAN UBAH KATEGORI</title>
</head>
<body>
<div class="container col-md-6 mt-5 bg-dark rounded">
    <form action="proses-ubah.php?id_kategori={{kategori.id_kategori}}" method="post" class="row g-3">
    <div class="mb-3">
        <label class="text-warning" for="">NAMA KATEGORI</label>
        <input class="form-control" type="text" name="nama_kategori" value="{{kategori.nama_kategori}}">
    </div>
   
        <button type="submit" class="btn btn-primary mb-3 mt-2 col-md-3 ">Submit</button>
    </form>
</div>
</body>
</html>
{% endblock %}